.header {
    width: 320px;
    height: 50px;
    margin-left: 0px;
    background-color: blue;
    text-align: left;
    align-items: left;
    position: absolute;
    top: 0;
}

.items {
    width: 320px;
    height: auto;
    margin: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    text-align: left;
    align-items: left;
}

.paragraf {
    padding-bottom: 0px;
    margin: 0px;
}

.input {
    width: 300px;
    height: 45px;
    margin-left: 0px;
    border-style: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 16px;
    padding-right: 40px;
    outline: none;
    transition: var(--animation-cubicBezier);
    font-size: var(--font-medium);
    color: var(--color-dark);
    font-weight: 300;
    letter-spacing: 0.03em;
    display: flex;
    text-align: left;
    align-items: left;

    &::placeholder {
        font-weight: 200;
    }

    position: absolute;
    top: 0;
}

.button {
    width: 10px;
    height: 40px;
    margin-top: 2px;
    background-color: blue;
    font-size: 30px;
    font-weight: 300;
    font-weight: bold;
    color: var(--color-dark);
    color: rgb(243, 236, 236);
    border-style: none;
    position: absolute;
    top: 0;

}

.submitButton {
    composes: button;
    right: 0;
}

@media screen and (min-width: 768px) {

    .header {
        width: 768px;

    }

    .items {
        width: 767px;

    }

    .input {
        width: 760px;
        height: 45px;
        margin-left: 0px;
    }

}

@media screen and (min-width: 1270px) {
    .header {
        width: 100%;
    }

    .items {
        width: 1268px;
    }

    .input {
        width: 1260px;
        height: 45px;
        margin-left: 0px;
    }
}

@media screen and (min-width: 1500px) {
    /* .header {
        width: 1500px;
    } */

    .items {
        width: 1498px;
    }

    .input {
        width: 1498px;
    }
}