.buttonRef {
    width: 20px;
    height: 50px;
    background-color: blue;
    font-size: 30px;
    font-weight: 300;
    font-weight: bold;
    color: var(--color-dark);
    color: rgb(243, 236, 236);
    border-style: none;
    position: absolute;
    /* top: 50%; */
    right: 0;
    transform: translateY(-20%);
    padding-bottom: 5px;
    margin-bottom: 5px;
}