/* .container {
    width: 100%;
    background-color: rgb(144, 153, 204);
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
} */

.list {
    background-color: rgb(144, 153, 204);
    width: 100%;
    margin: 1px;
    padding: 2;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    border: 1px solid black;
    border-color: black;
}

.item {
    width: 190px;
    height: 120px;
    padding: 1px;
    margin: 1px;
    list-style: none;
    border: 1px solid black;
    border-color: black;

}

@media screen and (min-width: 768px) {
    .list {
        width: 100%;
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: rgb(19, 20, 20);
    }

    .item {
        width: 370px;
        height: 175px;
        padding: 2px;
        margin: 1px;
        list-style: none;
        width: calc((100% - 4px) / 4);
    }
}

@media screen and (min-width: 1270px) {
    .list {
        /* width: 100%; */
        width: 1270px
    }


    .item {
        width: 400px;
        height: 175px;
        list-style: none;
        width: calc((100% - 4px) / 5);
    }
}

@media screen and (min-width: 1440px) {
    .list {
        width: 1440px;
    }

    .item {
        /* width: 300px;
        height: 200px; */
        list-style: none;
        width: calc((100% - 4px) / 6);
    }
}