.card {
    width: 100%;
    height: auto;
    padding: 1px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(241, 248, 248);

}

.imag {
    width: 270px;
    height: 130px;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
}

.imagLag {
    width: 100%;
    height: auto;
}

.cardCommant {
    width: 270px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.comItem {
    width: 100px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}

.comIte {
    width: 100px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}

.comIt {
    width: 150px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}

.commant {
    padding: 5px;
    padding-left: 0px;
    margin: 2px;
    margin-left: 0px;
    color: rgb(243, 239, 239);
    font-size: 1em;
    font-weight: 300;
    line-height: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.icon {
    padding: 0px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

@media screen and (min-width: 768px) {


    .imag {
        width: 300px;
        height: 150px;
        padding: 2px;
        margin: 1px;

    }
}

@media screen and (min-width: 1270px) {


    .imag {
        width: 320px;
        height: 165px;

    }
}

@media screen and (min-width: 1440px) {

    .item {
        width: 450px;
    }
}