.container {
    width: 100%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.styleBtn {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 5px;
}

.button {
    composes: button;
    right: 0;
    width: 120px;
    padding: 2px;
    margin: 2px;
    margin-top: 5px;
    background-color: aqua;
    border: 0.5px solid black;
    border-color: black;
    border-radius: 6px;
}

.buttonRef {
    width: 40px;
    height: 40px;
    background-color: blue;
    font-size: 30px;
    font-weight: 300;
    font-weight: bold;
    color: var(--color-dark);
    /* color: rgb(243, 236, 236); */
    border-style: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    transform: translateY(-20%);
    padding: 4px;
    margin: 0px;
    margin-right: 10px;

}