.container {
    width: 100%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.styleBtn {
    width: 100%;
    text-align: center;
    align-items: center;
}

.btn {
    width: 120px;
    padding: 1px;
    margin: 1px;
    margin-top: 5px;
    background-color: aqua;
    border: 0.5px solid black;
    border-color: black;
}